<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceFacturacion" />
            </basicHttpBinding>
        </bindings>
        <client>
          <!--http://localhost:53466/-->
          <!--http://192.168.0.213:1905/ServiceFacturacion.svc-->
          <endpoint address="http://localhost:53466/ServiceFacturacion.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceFacturacion"
                contract="ServiceInvoice.IServiceFacturacion" name="BasicHttpBinding_IServiceFacturacion" />
        </client>
    </system.serviceModel>
</configuration>