<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
  </configSections>
  
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6"/>
  </system.web>
  <connectionStrings>
    <!--<add name="InvoiceConnectionString" connectionString="Data source=SRVAOBD\FE;Initial Catalog=FacturaElectronicaBD;Persist Security Info=False;User ID=sa;Password=sql2012FEadmin" providerName="System.Data.SqlClient" />-->
    <add name="InvoiceConnectionString" connectionString="Data source=DESKTOP-F9CQCO5\SQLEXPRESS;Initial Catalog=PaynetFacturaElectronicaDB;Integrated Security=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior >
          
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
           
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>


  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:/LogsFE/Invoice_log.log" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="2" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c %m%n" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <!--<appender-ref ref="AdoNetAppender_SqlServer"/>-->
      <appender-ref ref="RollingLogFileAppender" />
      <appender-ref ref="TraceAppender" />
    </root>
  </log4net>
</configuration>
